# Assignment Day 6

## Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [3]:
email = input("Enter the email address :\n")
name = email.split('@')[1].split('.')[0]
print('The name extracted is :', name)

Enter the email address :
reddy@hotmail.com
The name extracted is : hotmail

## Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [4]:
phrase = input("Input words: ")

phrase_list = phrase.split(",")
phrase_list.sort()
print((', ').join(phrase_list))

Input words: without,hello,bag,world
bag, hello, without, world

In [8]:
items = [x for x in input().split(',')]
items.sort()
print((',').join(items))

without,hello,bag,world
bag,hello,without,world

## Create your own Jupyter Notebook for Sets.

In [90]:
#set = set is an unordered collection of elements which unindexed,iterable and duplicates are not allowed 
s1 = {'a','a','b','c','d','e','f','f','g'}
print(s1)

{'a', 'f', 'e', 'c', 'd', 'g', 'b'}

In [91]:
# add method adds a given element to a set if the element is not present in the set.
s1.add('h')
print(s1)

{'a', 'f', 'h', 'e', 'c', 'd', 'g', 'b'}

In [92]:
#clear method removes all elements from the set.
s1.clear()

In [93]:
print(s1)

set()

In [94]:
s2 = {1,2,3,4,3,'a','b','c','d','a'}
print(s2)

{1, 2, 3, 4, 'a', 'c', 'd', 'b'}

In [95]:
#copy method will return a new set which is the exact duplicate of original set
s3 = s2.copy()
print(s3)

{1, 2, 3, 4, 'a', 'c', 'd', 'b'}

In [96]:
s4 = {1,3,5,6,'c','d','e','f','g'}
print(s4)

{1, 3, 5, 6, 'f', 'e', 'c', 'd', 'g'}

In [97]:
print(s3)

{1, 2, 3, 4, 'a', 'c', 'd', 'b'}

In [98]:
#difference method returns a set that contains the difference between two sets. 
#Meaning: The returned set contains items that exist only in the first set, and not in both sets.
s3.difference(s4)

{2, 4, 'a', 'b'}

In [100]:
#difference_update() method removes the items that exist in both sets.
s3.difference_update(s4)
print(s3)

{2, 4, 'a', 'b'}

In [101]:
print(s4)

{1, 3, 5, 6, 'f', 'e', 'c', 'd', 'g'}

In [103]:
#discard method removes the specified item from the set.
s4.discard('f')
print(s4)

{1, 3, 5, 6, 'e', 'c', 'd', 'g'}

In [104]:
s4.discard(4)  # we will not get error if the values is not present also this is the difference between remove and discard
print(s4)

{1, 3, 5, 6, 'e', 'c', 'd', 'g'}

In [105]:
#intersection method returns a new set with elements that are common to all sets.

s4.intersection(s3)

set()

In [106]:
s = {1,3,5,6,'a','d','b','f','h',9,15,14}
print(s)

{1, 3, 'a', 5, 6, 'f', 'h', 9, 14, 15, 'd', 'b'}

In [107]:
s4.intersection(s)

{1, 3, 5, 6, 'd'}

In [109]:
#intersection_update method removes the items that is not present in both sets

s.intersection_update(s4)
print(s)

{1, 3, 5, 6, 'd'}

In [110]:
#Set isdisjoint method checks whether the two sets are disjoint sets or not. 
#If the sets are disjoint, this method returns true else it returns false.
#Two sets are said to be disjoint if they do not have any common elements.

s4.isdisjoint(s)

False

In [111]:
s.isdisjoint(s1)   # this is disjoint set since the set s is an empty set

True

In [112]:
#The issubset method in Python checks whether a given Set is a subset of another specified Set. 
#If all the elements of a given Set is present in another Set then the given set is called the subset of another Set.

s4.issubset(s)

False

In [113]:
s = {1,3,5,'d','e'}

In [114]:
s.issubset(s4)  # all the elemnts of the set s is present in set s4

True

In [115]:
#The issuperset method returns True if a set has every elements of another set
#issuperset method returns True if all elements of a set A occupies set B which is passed as an argument 
#and returns false if all elements of B not present in A.

s4.issuperset(s)

True

In [116]:
#pop method removes a random element from the set and returns the removed element.

s4.pop()

1

In [117]:
#remove method removes the element from the set only if the element is present in the set.
#Just as the discard method does but If the element is not present in the set, then an error or exception is raised.

s4.remove('e')

In [118]:
s4

{3, 5, 6, 'c', 'd', 'g'}

In [119]:
# symmetric difference method returns the symmetric difference of two sets. 
#The symmetric difference of two sets A and B is the set of elements that are in either A or B , but not in their intersection.

s4.symmetric_difference(s)

{1, 6, 'c', 'e', 'g'}

In [120]:
#symmetric_difference_update returns a new set or updates the existing set which is a symmetric difference of two given sets

s.symmetric_difference_update(s4)

In [121]:
#union method returns a set that contains all items from the original set, and all items from the specified sets

s4.union(s)

{1, 3, 5, 6, 'c', 'd', 'e', 'g'}

In [122]:
#update method in set adds elements from a set (passed as an argument) to the set.

s4.update('h')

## Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [58]:
List= list(map(int,input('Entet the list elements:').split(' ')))
for I in range(1,len(List)-1):
    if I not in List:
        print(I,end = ' ')

Entet the list elements:1 3 5 6 7 9 10 11 12
2 4

In [73]:
m = list(map(int,input('Entet the list elements:').split(' ')))
lst = [i for i in range(1,len(m))]
missing = []
for i in lst:
    if i not in m:
        missing.append(i)

print('The missing value :')
for j in missing:
    print(j,end = ' ')

Entet the list elements:1 2 4 6 3 7 8
The missing values :
5

In [81]:
def missing(n):
    return [x for x in range(n[0],n[-1])
           if x not in n]

In [82]:
n = list(map(int,input().split(' ')))
missing(n)

1 2 4 5 6 7 8 9 11

[3, 10]

## With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [87]:
List = list(map(int,input('Enter the list elements :').split(' ')))
print('The original list :',List)
L = []
for i in List:
    if i not in L:
        L.append(i)

print('The list after removing the duplicates:')
for i in L:
    print(i,end = ' ')

Enter the list elements :12 24 35 24 88 120 155 88 120 155
The original list : [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
The list after removing the duplicates:
12 24 35 88 120 155

In [89]:
L = list(map(int,input("Enter the list elements :").split(' ')))
L = dict.fromkeys(L)
for i in L:
    print(i, end = ' ')

Enter the list elements :12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155